body {
    background-color: cadetblue;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.app {
    background-color: lightblue;
    width: 60vh;
    height: 80vh;
    box-sizing: border-box;
    border: black 0.3vh solid;
    position: absolute;
    top: calc(50% - 40vh);
    left: calc(50% - 30vh);
    /*Flex for counter and tabs*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
}

.counter {
    background-color: lightcyan;
    box-sizing: border-box;
    border: black 0.3vh solid;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    /*Flex for counter*/
    flex-grow: 0;
    flex-basis: 25%;
    width: 100%;
    /*flex for score*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.score {
    margin-right: 2vh;
    font-size: 7vh;
}

.tabs {
    background-color: lightgreen;
    /*Flex for tabs*/
    flex-grow: 0;
    flex-basis: 65%;
    /*Flex for other classes: number, operation*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
}

.reset {
    background-color: yellowgreen;
    font-size: 4vh;
    text-align: center;
    line-height: 150%;
    box-sizing: border-box;
    border: black 0.3vh solid;
    font-family: Arial, Helvetica, sans-serif;
    /*flex for reset*/
    flex-grow: 1;
    flex-basis: 0.1%;
}

.number,
.operation {
    box-sizing: border-box;
    text-align: center;
    border: black 0.3vh solid;
    font-size: 5vh;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
    height: 12.9vh;
    /*flex for number*/
    flex-grow: 1;
    flex-basis: 25%;
}

.number:hover,
.operation:hover {
    background-color: limegreen;
    cursor: pointer;
    font-size: 5.5vh;
}

.reset:hover {
    background-color: yellow;
    cursor: pointer;
    font-size: 4.5vh;
}