%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale();
  }
}

.btn-primary {
  @extend %btn;
}

btn-seconadary {
  @extend %btn;
  background-color: $seconadry-color;
}
